

.game {
    display: none;
    width: 854px;
    height: 480px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.game.active {
    display: block;
}

.game .score {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.score-table thead tr {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(63,63,76,1) 100%);
    color: #F8F6F1;
}

.score-table td {

    border: 2px solid black;
}

.game .scrollable {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    overflow-y: auto;
}

.game .manual {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.game .manual .simple-menu {
    font-size: 20px;
    height: auto;
}


.simple-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 40px;
    height: 100%;
    width: 100%;
}

.simple-menu__item {
    transition: 0.3s;
}

.simple-menu__item:hover {
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: 0 0 5px goldenrod;
}

.game .result-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.result-screen p {
    font-size: 26px;
}

.result-screen h2 {
    font-size: 60px;
}

.pawn-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-bottom: 10px;
}

.pawn-card {
    width: 250px;
    height: 400px;
    padding: 10px;
    padding-top: 50px;
    gap: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #f1e0c5;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.pawn-card p {
    margin: 0;
    text-align: justify;
    font-size: 16px;
}

.pawn-card .pawn {
    flex-shrink: 0;
    position: inherit;
    transform: scale(1.3);
}

.pawn-card .pawn::after {
    display: none;
}

.battlefield {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 470px;
    background-color: black;
    gap: 2px;
    margin: auto;
    padding: 2px;
    transform-origin: 50% 100%;
    transform: scale(2) perspective(500px) rotateX(45deg);
    transform-style: preserve-3d;
    z-index: 0;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: darkgray;
    background-image: url("./assets/game/tiles/grass_green_block_256x.png");
    background-size: 50px 50px;
    position: relative;
    /*z-index: 0;*/
    transform-style: preserve-3d;
    transition: box-shadow 0.3s;
}

/*.cell::before {*/
/*    position: absolute;*/
/*    top: -10px;*/
/*    width: 40px;*/
/*    height: 10px;*/
/*    left: 0;*/
/*    content: attr(data-pf);*/
/*}*/

.cell::after {
    transition: opacity 0.3s, transform 0.3s;
}


.cell.movement {
    box-shadow: inset 0 0 10px 2px cyan;
    border: 5px solid transparent;
}

.cell.movement:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px 2px deepskyblue;
}

.cell.targetable {
    z-index: 10;
}

.cell.targetable::after {
    content: "";
    position: absolute;
    --target-color: crimson;
    opacity: 0.6;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    left: -2.5px;
    top: -2.5px;
    background-color: var(--target-color);
    -webkit-mask: url("./assets/game/svg/target.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/game/svg/target.svg") 50% 50%/contain no-repeat
}
.cell.targetable:hover::after {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.5);
}

.pawn {
    image-rendering: crisp-edges;
    pointer-events: none;
    width: 40px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 5px;
    background-color: lightgray;
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    transform: rotateX(-45deg);
    --current-hp: 100%;
    --current-mp: 0%;
    --divider: 1;
}

/* Displaying controlled pawn */
.pawn.active::before {
    position: absolute;
    content: "";
    top: -22px;
    left: calc(30px / 2 - 10px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    opacity: 0.8;
    border-color: crimson transparent transparent transparent;
}

/* Hp/mp display */
.pawn::after {
    position: absolute;
    top: -10px;
    left: calc(-20px + 15px);
    width: 40px;
    height: 2px;
    opacity: 0.6;
    border: 1px solid black;
    content: "";
    background: linear-gradient(to right,
        red 0%,
        red calc(var(--current-hp) / var(--divider)),
        antiquewhite calc(var(--current-hp) / var(--divider)),
        antiquewhite 50%,
        cornflowerblue 50%,
        cornflowerblue calc(var(--current-mp) / var(--divider) + 50%),
        antiquewhite calc(var(--current-mp) / var(--divider) + 50%),
        antiquewhite 100%
    );
}

.pawn.targetable {
    /* Maybe even this is not necessary - only target cells*/
    /*pointer-events: auto;*/
}

/*.cell:hover .pawn {*/
/*    bottom: 15px;*/
/*    left: 5px;*/
/*}*/

.pawn:hover {
    cursor: pointer;
    background-color: darkgreen;
}
/* Maybe styling on hover will get more difficult*/
.pawn.targetable:hover,
.cell.targetable:hover .pawn.targetable{
    filter: hue-rotate(180deg);
}

.pawn.opposite {
    transform: rotateX(-45deg) scaleX(-1);
}

.pawn.opposite::after {
    transform: scaleX(-1);
}

.pawn.warrior {
    width: 58px;
    height: 50px;
    left: 8px;
    background-color: transparent;
    background-image: url("assets/game/sprites/Warrior/Knight_03__IDLE_000.png");
    background-repeat: no-repeat;
    background-position: 62% 40%;
    background-size: 180px 100px;
}

.pawn.warrior.opposite {
    left: -15px;
}

.pawn.spearman {
    width: 63px;
    height: 50px;
    left: 5px;
    background-color: transparent;
    background-image: url("./assets/game/sprites/Spearman/Knight_01__IDLE_000.png");
    background-repeat: no-repeat;
    background-position: 65% 33%;
    background-size: 162px 90px;
}

.pawn.spearman.opposite {
    left: -20px;
}

.pawn.archer {
    width: 45px;
    height: 50px;
    left: 4px;
    background-color: transparent;
    background-image: url("./assets/game/sprites/Archer/Elf_01__IDLE_000.png");
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: 162px 90px;
}

.pawn.archer.opposite {

}

.pawn.orc {
    width: 55px;
    height: 45px;
    left: 6px;
    background-color: transparent;
    background-image: url("assets/game/sprites/Orc/ORK_03_IDLE_000.png");
    background-repeat: no-repeat;
    background-position: 57% 80%;
    background-size: 162px 90px;
}

.pawn.orc.opposite {
    left: -10px;
}

.pawn.goblin {
    width: 40px;
    height: 40px;
    left: 13px;
    background-color: transparent;
    background-image: url("assets/game/sprites/Goblin/Minotaur_03_Idle_000.png");
    background-repeat: no-repeat;
    background-position: 80% 70%;
    background-size: 58px 40px;
}

.pawn.goblin.opposite {
    left: -3px;
}

.pawn.elf {
    width: 45px;
    height: 48px;
    left: 10px;
    background-color: transparent;
    background-image: url("assets/game/sprites/Elf/Elf_03__IDLE_000.png");
    background-repeat: no-repeat;
    background-position: 53% 65%;
    background-size: 162px 90px;
}

.pawn.elf.opposite {
    left: -2px;
}

.pawn.pirate {
    width: 55px;
    height: 50px;
    left: 6px;
    background-color: transparent;
    background-image: url("assets/game/sprites/Pirate/2_entity_000_IDLE_000.png");
    background-repeat: no-repeat;
    background-position: 42% 70%;
    background-size: 78px 66px;
}

.pawn.pirate.opposite {
    left: -10px;
}

.pawn.healer {
    width: 55px;
    height: 50px;
    left: -1px;
    background-color: transparent;
    background-image: url("assets/game/sprites/Healer/Fairy_03__IDLE_000.png");
    background-repeat: no-repeat;
    background-position: 50% 65%;
    background-size: 162px 90px;
}

.pawn.healer.opposite {
    left: -1px;
}

.pawn.amazon {
    width: 45px;
    height: 58px;
    left: 6px;
    background-color: transparent;
    background-image: url("assets/game/sprites/Amazon/Warrior_02__IDLE_000.png");
    background-repeat: no-repeat;
    background-position: 55% 75%;
    background-size: 120px 72px;
}

.pawn.amazon.opposite {
    left: 0;
}

.pawn.troll {
    width: 85px;
    height: 70px;
    left: -5px;
    background-color: transparent;
    background-image: url("assets/game/sprites/Troll/Troll_02_1_IDLE_000.png");
    background-repeat: no-repeat;
    background-position: 59% 75%;
    background-size: 200px 125px;
}

.pawn.troll.opposite {
    left: -25px;
}

.pawn.ghost {
    width: 45px;
    height: 45px;
    left: 6px;
    bottom: 20px;
    background-color: transparent;
    background-image: url("assets/game/sprites/Ghost/Wraith_01_Idle_000.png");
    background-repeat: no-repeat;
    background-position: 57% 30%;
    background-size: 70px 54px;
}

.pawn.ghost.opposite {
    left: -3px;
}

